body{
    background: #f4f4f4;
}

#principal {
    width: 920px;
}

.noticia{
    background: #e5e5e5;
    padding: 5px;
    width: 280px;
    margin:8px;
    float: left;
}

.clear{
    clear: both;
}

.imagem-galeria{
    background: white;
    width: 265px;
    padding: 5px;
    float: left;
    margin: 15px;
}

.borda{
    border: 1px solid red;
    /*display: inline;*/
}
/*
modelo de caixa/ box model

.conteudo {
    border: 1px solid red;
    /*padding-top: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding: 20px 15px 10px 5px;
    padding: 20px;
    padding: 20px 5px;
    /*margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 20px;
    margin-right: 20px;
    margin: 10px;
    width: 150px;
}

.conteudo2{
    margin: 50px;
    border: 1px solid red;
    width: 150px;
}

#estilo{
    background:blue;
    border: 1px solid red;
    padding: 10px;
}

h2{
    border: 1px solid red;
    margin: 0px;
}

.conteudo{
    background:blue;
    border: 1px solid grey;
    width: 150px;
    height:150px;
    float: left;
    margin: 10px;
}

.clear{
    clear: left;
}

#principal{
    border: 5px solid red;
    background:green;
}

.conteudo1{
    background:red;
    border: 1px solid grey;
    width: 150px;
    height:150px;
    float:right;
}

.conteudo-0{
    background:red;
    border: 1px solid grey;
    width: 150px;
    height:150px;
}*/