/*seletor universal
*{
    border: 1px solid red;
}

/*seletor de texto

h1,h2,h3,h4,h5,h6{
    color:green;
}

/* seletores de classe 

.verde{
    color:green;
}

p.verdeclaro{
    color:coral;
}

/* seletores de id

#cabecalho{
    border: solid blue;
}

/* seletor de filho

li>a{
    color:red;
    text-decoration: none;
}

/* seletor de descendente

p a {
    color:brown;
}

/* seletor de irmão adjacente
h1 + p{
    color:red;
}

/* seletor de irmão geral

h1~p{
    color:pink;
}

/*Herança e especificidade*/

/*
body{
    color:red;
    border:1px solid red;
}


p {
    color:red;
}


*{
    color:blue;
}

h2{
    color:green;
}

h2.verde{
    color:yellow;
}

h2#amarelo{
    color:orange;
}

ul {
    list-style-type: none;
    margin:0;
    padding:0;
}

li{
    padding: 5px 20px;
    background: url(../imagens/seta.png) no-repeat left center;

}*/

ul {
    list-style-type: none;
    margin:0;
    padding:0;
}

ul a {
    border: 1px solid red;
    width: 200px;
    height: 40px;
    display: block;
    color:#000;
    text-decoration: none;
    text-indent: 40px;
    line-height: 40px;
    background: url(../imagens/menu.png) no-repeat left center;
}

a:hover {
    background-position: right bottom;
    color: #fff;
}